{% extends 'base.html' %}
{% block main  %}

<div class="card mb-3 mt-5">
  <div class="card-title text-center mb-5">
    <div>
    <h5>{{recipe.name}}</h5>
    </div>
    <div  class="text-primary" style="margin-left: 1150px;
    margin-top: -30px;
">
      {{recipe.views}}
      <i class="far fa-eye"></i>
    </div>
  </div>
  <img src="{{recipe.photo.url}}" class="card-img-top" style="width: 50%; display: block; margin-left: auto; margin-right: auto;" alt="image"/>
  <div class="card-body" style="margin-left: 170px; margin-right: 170px;">

    <p class="card-text">
    {{recipe.content}}
    </p>
    <p class="card-text">
      <small class="text-muted">{{recipe.updated}}</small>
    </p>
  </div>
</div>

{% endblock main %}
