{% load static %}
<header>
      <div>
        <!-- Navbar -->
  <nav class="navbar navbar-default navbar-light navbar-expand-lg  bg-navbar-sticky navbar-scrollspy fixed-top" data-minus-value-desktop="70"
     data-minus-value-mobile="55" data-speed="100">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <img src="{% static 'img/logo/recipe.png' %}" alt="image"
         height="70"
          loading="lazy">
<!--     Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse  menu-ui-design justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="nav navbar-nav navbar-right mb-1 mb-lg-0 " style="margin-left: 130px;">
        <li class="nav-item" style="margin-right: 50px;">
          <a class="nav-link text-white" aria-current="page" href="#">Bosh sahifa   </a>
        </li>
          <li class="nav-item" style="margin-right: 50px;">
          <a class="nav-link text-white" aria-current="page" href="#retsept">Retseptlar</a>
        </li>
        <li class="nav-item " style="margin-right: 50px;">
          <a class="nav-link text-white" href="#footer">Biz haqimizda</a>
        </li>

      </ul>
      <!-- Left links -->

    </div>
    {% if request.user.is_authenticated %}
        <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" style="margin-right: 10px;" href="{% url 'create' %}" role="button">Retsept qo'shish</a>

       <!-- Avatar -->
      <div class="dropdown">
        <a
          data-mdb-dropdown-init
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          aria-expanded="false"
        >
          <img
            src="{% static 'img/ava3.jpg' %}"
            class="rounded-circle"
            height="40"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="{% url 'profile' %}">Mening profilim</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'logout' %}">Chiqish</a>
          </li>
        </ul>
      </div>
    {% else %}
    <!-- Collapsible wrapper -->
    <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" style="margin-right: 5px;" href="{% url 'login' %}" role="button">Kirish</a>
      <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="{% url 'register' %}" role="button">Ro'yxatdan o'tish</a>
    {% endif %}
  </div>
  <!-- Container wrapper -->

  </nav>
  <!-- Navbar -->
    </div>


  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://www.hairybikers.com/uploads/images/_recipeImage/chicken_yassa.jpg');
      height: 600px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-dark">
<!--          <img src="file:///C:/Users/user/Downloads/rec_logo-removebg-preview.png">-->
          <h1 class="mb-3 display-1 " style="color: #C5CAE9;"><a href="{% url 'index' %}" class="text-secondary">Secret cooking blog</a></h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
  <!-- Background image -->
</header>